.siderContent{
    padding-top: 20px;
    padding-right: 90px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height:85vh;
    align-items:center;
}
#site-logo{
    height: 50px;
    filter: invert(1);
}
.details {
    display: flex;
    padding: 10px;
    gap:14px;
    justify-content: start;
    align-items: center;
    text-decoration: none !important;
}

.menuItems {
    display: flex;
    justify-content: start;
    gap: 14px;
    margin-top: 20px;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    padding:10px;
    border-radius: 1000px;
    color: white !important;
    text-decoration: none !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.416);
    transform: scale(0.85);
}

.menuItems:hover{
    cursor:pointer;
    background-image: linear-gradient( rgba(0, 140, 255, 0.507),rgba(242, 0, 255, 0.393));
}

.profile{
    display: flex;
    flex-direction: column;
    gap: 5px;
}




